@media (max-width:600px) {
    /* nav ul, nav li {
        flex-direction: column;
    } */
    .container {
        flex-direction: column;
    }
    .banner_headline h1 {
        font-size: 55px;
    }
    .banner_headline h2 {
        font-size: 17px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }

    #geral secton {
        padding: 40px;
    }
    #geral aside {
        padding: 20px;
    }
    .footer_area {
        flex-direction: column;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
    }

    header {
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }
}