@media (max-width:600px) {
    /* nav ul, nav li {
        flex-direction: column;
    } */

    .banner_headline h1 {
        padding-left: 10px;
        font-size: 45px;
    }
    .banner_headline h2 {
        padding-left: 10px;
        padding-bottom: 10px;
        text-shadow: 0px 1px 7px #003b58;
    }

    .container {
        flex-direction: column;
    }
    .banner_headline h1 {
        font-size: 55px;
    }
    .banner_headline h2 {
        font-size: 17px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }

    #geral secton {
        padding: 40px;
    }
    #geral aside {
        padding: 20px;
    }
    .footer_area {
        flex-direction: column;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #ffffff;
    }

    header {
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer_menu {
        flex-direction: column;
    }
    .widget_title {
        padding-top: 20px;
        padding-left:10px;
    }
    .widget_body {
        padding-left:10px;
    }
    .widget_body flex {
        padding-left: 10px;
    }
    .footer_areaitem {
        padding-left: 10px;
    }
    .flexColumn {
        align-items: center;
    }
}