footer {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
}
.footer_menu {
    display: flex;
}
.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #ffffff;
    padding:20px;
}
.fm_1 {
    background-color: #39aae1;
}
.fm_2 {
    background-color: #0079c7;
}
.fm_3 {
    background-color: #2b4c99;
}
.footer_area {
    display: flex;
}
.footer_areaitem {
    flex: 1;
    color: #FFFFFF;
}
.flexColumn {
    flex-direction: column;
}
footer .widget_title_text {
    color: #ffffff;   
}
.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 5px;
    margin-top: 30px;
}

.widget_bod_end {
    display: flex;
    flex-direction: row;
}

.end_left {
    flex: 1;
}
.end_wight {
    flex: 1;
}

.widget_bod {
    display: flex;
    flex-direction: column;
}
.widget_bod_latestPost {
    display: flex;
}

.widget_bod_latestPost img {
    padding-top: 15px ;
}
.widget_bod_conteudo {
    padding-left:10px;
}